@import "../../../sass-utils/globals";

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

h5 {
  @include h5;
}

h6 {
  @include h6;
}

html {
  font-family: $f-secondary;
  font-weight: 400;
  font-size: 14px;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include breakpoint($bp-540) {
    font-size: 16px;
  }
}

a {
  @include a;
}
