@import "../../../sass-utils/globals";

.Breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Crumb {
  font-family: $f-secondary;
  display: inline-block;
  color: $c-1-translucent;
  font-weight: 500;
  margin-left: .25rem;

  a {
    display: inline-block;
    line-height: 1;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: $grey-light;
    border-radius: $border-radius;
    border-bottom: 1px solid transparent;
    transition: all $transition-timing $transition-curve;

    &:active,
    &:hover {
      border-color: transparent;
      background-color: $grey;
    }

    @include breakpoint($bp-768) {
      display: inline;
      padding: 0;
      background-color: initial;
      border-radius: 0;

      &:active,
      &:hover {
        border-color: $c-1;
        background-color: initial;
      }
    }
  }

  &::after {
    content: '\00BB\00a0';
    display: inline-block;
    margin-left: .5rem;
  }

  &:last-of-type::after {
    content: '';
  }
}
