@import "../../../sass-utils/globals";

.Breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Crumb {
  font-family: $f-secondary;
  display: inline-block;
  color: $c-1-translucent;
  font-weight: 500;

  a {
    font-weight: 600;
  }

  &::after {
    content: '\00BB\00a0';
    display: inline-block;
    margin-left: .5rem;
  }

  &:last-of-type::after {
    content: '';
  }

  + .Crumb {
    margin-left: .25rem;
  }
}
