@import "../../../sass-utils/globals";

.Sidebar {
  background: $grey-light;
  padding: 1rem;
  border-radius: $border-radius;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      > a {
        font-size: $fs-smaller;
        font-weight: 700;
      }

      > ul > li {
        a {
          font-weight: 500;
        }

        > ul > li {
          > a {
            font-size: $fs-tiny;
          }
        }
      }
    }
  }

  &__intro {
    display: block;
    color: $white;
    font-family: $f-secondary;
    letter-spacing: 1.2px;
    font-weight: 600;
    margin: -1rem -1rem 1rem -1rem;
    padding: .5rem 1rem;
    background: $c-1-translucent;
  }

  &__item {
    list-style: none;
    line-height: 1.2;
    margin: 1rem 0;
  }

  &__children {
    margin-left: 1.5rem;
    padding-left: 0;
  }
}
