@mixin button-spacing {
  margin-bottom: 2.5rem;
}

@mixin visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin visually-hidden-off {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

@mixin f-huge($breakpoint: $bp-1024) {
  font-size: $fs-extra-large;
  font-weight: 600;

  @include breakpoint($breakpoint) {
    font-size: $fs-huge;
    line-height: 1;
  }
}

@mixin h1 {
  font-size: $fs-extra-large;
  line-height: 3rem;
  margin: 0;
  font-weight: 900;
}

@mixin h2 {
  font-size: $fs-large;
  line-height: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0.5rem 0;
}

@mixin h3 {
  font-size: $fs-small;
}

@mixin section {
  padding: $desktop-padding $mobile-padding;

  @include breakpoint($bp-768) {
    padding: $desktop-padding;
  }
}

@mixin mw($breakpoint) {
  max-width: $breakpoint;

  @include breakpoint(#{$breakpoint}) {
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin button-hover {
  color: $black;
  background-color: $white;
  border: 1px solid $ui-border;

  svg {
    fill: $black;
  }
}

@mixin button-variant($bg-color, $font-color) {
  color: $font-color;
  background-color: $bg-color;

  svg {
    fill: $font-color;
  }

  &:hover,
  &:active,
  &:focus {
    @include button-hover;
  }
}

// When possible, use the <Button> component.
@mixin button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: $border-radius;
  min-width: 140px;
  padding: 8px 20px;
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid transparent;
  font-family: $f-secondary;
  letter-spacing: 2px;
  transition: background-color $transition-timing $transition-curve;

  svg {
    fill: $white
  }

  @include button-variant($c-0, $white);

  // &.-white {
  //   @include button-variant($white, $navy);
  // }
}

@mixin toggle-arrow($color: $grey-light) {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  border-right: 2px solid $color;
  border-bottom: 2px solid $color;
  transform: rotate(45deg);
  transition: all .5s $transition-curve;
}

@mixin toggle-arrow-open {
  transform: rotate(-135deg) translateY(-3px) translateX(-3px);
}

@mixin wysiwyg {
  a {
    border-bottom: 1px solid $c-1;
  }

  img {
    border: 2px solid $grey;
    margin: 3.5rem 0;
  }

  strong,
  em {
    color: $c-1;
  }

  pre {
    background-color: $grey-light;
    font-size: $fs-base;
    line-height: 1.2;
    padding: 1rem;
  }

  hr {
    margin: 3.5rem 0;
  }

  blockquote {
    position: relative;

    &::before {
      // @include quotation-mark('../../img/leftquote.svg', 'right');

      background-position: top;
      height: 45px;
      position: absolute;
      left: -30px;

      @include breakpoint($bp-768) {
        top: -15px;
        left: -55px;
      }
    }
  }
}

@mixin outline {
  outline: 4px solid $c-5;
}
