// Colors
$c-0: #222639;
$c-1: #214255;
$c-1-translucent: rgba(47, 58, 69, 0.8);
$c-2: #7E878C;
$c-3: #59798B;
$c-4: #E1EDF5;
$c-5: #F7941E;

$white: #fff;
$grey-light: #eeeded;
$grey: #cacaca;
$grey-dark: #8a8a8a;
$black: #252525;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700|Overpass+Mono:300|Roboto:300,400,700,900');

$f-primary: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
$f-secondary: 'Roboto', sans-serif;
$f-tertiary: 'Overpass Mono', monospace;

$fs-tiny: .85rem;
$fs-base: 1rem;
$fs-smaller: 1.125rem;
$fs-small: 1.25rem;
$fs-medium: 1.5rem;
$fs-large: 1.75rem;
$fs-larger: 2rem;
$fs-extra-large: 2.25rem;
$fs-huge: 3rem;

// Layout
$desktop-padding: 4rem;
$mobile-padding: 2rem;
$header-height: 72px;
$site-max-width: 68.75rem;

// Breakpoints
$bp-540: 33.75rem;
$bp-768: 48rem;
$bp-920: 57.5rem;
$bp-1024: 64rem;
$bp-1100: $site-max-width;

// Animations
$transition-curve: cubic-bezier(0.19, 1, 0.22, 1);
$transition-timing: 1s;

// Other
$border-radius: 2px;
