@import "../../sass-utils/globals";

.NestedMenuItem {
  position: relative;

  a {
    color: $white;
  }

  &__link {
    display: block !important;
    flex-basis: 100%;

    &:hover {
      border: none !important;
    }
  }

  &__icon {
    @include visually-hidden;

    flex-basis: 25%;
    cursor: pointer;
    z-index: 10;
    padding: 0;
    border: none;

    &.visible {
      @include visually-hidden-off;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::before {
      @include toggle-arrow;
    }
  }

  > .NestedMenuItem__children {
    display: none;
  }

  &.is-active {
    > .NestedMenuItem__children {
      display: block;
    }

    > .NestedMenuItem__link-wrapper {
      .NestedMenuItem__icon {
        &::before {
          @include toggle-arrow-open;
        }
      }
    }
  }

  &__link-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  &__first {
    > .NestedMenuItem__link-wrapper {

      .NestedMenuItem__link {
        font-size: $fs-medium;
        font-weight: 700 !important;
        background-color: $c-1;
        padding: 25px 40px;
      }

      .NestedMenuItem__icon {
        background-color: $c-1;
      }
    }

    + .NestedMenuItem__first {
      border-top: 1px solid $grey;
    }
  }

  &__second {
    > .NestedMenuItem__link-wrapper {
      .NestedMenuItem__link {
        // color: $white;
        background-color: $c-2;
        padding: 15px 40px 15px 60px;
      }

      .NestedMenuItem__icon {
        background-color: $c-2;
      }
    }

    &:first-of-type {
      border-top: 2px solid $grey;
    }

    + .NestedMenuItem__second {
      border-top: 1px solid $grey;
    }
  }

  &__third {
    > .NestedMenuItem__link-wrapper .NestedMenuItem__link {
      font-weight: 300 !important;
      color: $black !important;
      background-color: $c-3;
      padding: 15px 40px 15px 80px;
    }

    &:first-of-type {
      border-top: 2px solid $grey;
    }

    + .NestedMenuItem__third {
      border-top: 1px solid $grey;
    }
  }

  *:focus {
    outline-offset: -4px;
  }
}

.hidden {
  @include visually-hidden;
}
