@import "../../sass-utils/globals";

#Header {
  position: fixed;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  border-bottom: 1px solid var(--header-borderColor);
  background: var(--header-background);
  color: var(--header-color);
  height: $header-height;
  display: flex;

  @include breakpoint($bp-768) {
    display: block;
    position: static;
    z-index: 0;
    height: auto;
  }

  a {
    color: var(--header-color);
  }
}

.Header {
  &__wrapper {
    @include mw($site-max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__logo {
    a {
      display: flex;
      align-items: center;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: var(--ui-focus);
      }

      &:focus {
        outline-width: 2px;
        outline-offset: 2px;
      }
    }
  }

  &__logo-figure {
    margin: 0;
    width: 25px;

    @include breakpoint($bp-768) {
      width: 50px;
    }
  }

  &__logo-title {
    font-size: 1.25rem;
    padding-left: .5rem;

    @include breakpoint($bp-768) {
      font-size: 2rem;
      padding-left: .75rem;
    }
  }
}
