@import "../../sass-utils/globals";

#Footer {
  font-size: 0.8rem;
  font-family: $f-secondary;
  background-color: $c-1;
  padding: 1rem 2rem;
  color: $white;

  @include breakpoint($bp-768) {
    font-size: 1rem;
  }
}

.Footer {
  &__wrapper {
    @include mw($site-max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
