@import "../../sass-utils/globals";

#Footer {
  font-size: 0.8rem;
  font-family: $f-secondary;
  background: var(--footer-background);
  padding: 1rem 2rem;
  color: var(--footer-color);
  border-top: 1px solid var(--footer-borderColor);

  @include breakpoint($bp-768) {
    font-size: 1rem;
  }
}

.Footer {
  &__wrapper {
    @include mw($site-max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
