@import "../../sass-utils/globals";

.Search {
  display: flex;
  margin-bottom: 1rem;
  position: relative;

  &__input {
    letter-spacing: 1px;
    max-width: none;
    width: 100%;
    font-size: $fs-small;
    padding: 0 1rem;
    border: 1px solid $grey;
    border-radius: $border-radius;
    height: 60px;

    &.active {
      outline: 4px solid $c-5;
      outline-offset: -2px;
    }
  }

  &__input-icon {
    width: 40px;
    height: 40px;
  }

  .Button {
    display: flex;
    align-items: center;
    padding: 8px;
    min-width: initial;
  }

  &__results {
    position: absolute;
    top: 62px;
    left: -2px;
    right: -2px;
    text-align: left;
    background: $grey;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__result {
    border-left: 1px solid $grey-dark;
    border-right: 1px solid $grey-dark;

    &:last-of-type {
      border-bottom: 1px solid $grey-dark;
    }

    a {
      display: block;
      background-color: $grey-light;
      padding: 1rem;

      &:hover {
        border-bottom: none;
        text-decoration: underline;
      }
    }

    &:nth-of-type(even) {
      a {
        background-color: $white;
      }
    }
  }
}

.hidden {
  @include visually-hidden;
}
