@import "../../sass-utils/globals";

.Search {
  margin-bottom: 1rem;
  position: relative;

  .Search__results {
    display: none;
  }

  &:focus-within {
    .Search__results {
      display: block;
    }
  }

  &__input {
    letter-spacing: 1px;
    max-width: none;
    width: 100%;
    font-size: $fs-small;
    padding: 0 1rem;
    border: 1px solid $grey;
    border-radius: $border-radius;
    height: 60px;

    &.hasQuery {
      outline: 4px solid $c-5;
      outline-offset: -2px;
    }
  }

  &__clear {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;

    &.hasQuery {
      display: block;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 4px;
      height: 20px;
      width: 20px;
      border-right: 3px solid $grey-dark;
    }

    &::before {
      transform: rotate(45deg);
      top: 4px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 16px;
    }
  }

  &__results {
    position: absolute;
    top: 62px;
    left: -2px;
    right: -2px;
    text-align: left;
    background: $grey;
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    max-height: 50vh;
    overflow: scroll;

    &.hasResults {
      border: 1px solid $grey-dark;
      border-top: none;
    }
  }

  &__result {
    a {
      display: block;
      background-color: $grey-light;
      padding: 1rem;

      &:hover {
        border-bottom: none;
        text-decoration: underline;
      }

      &:focus {
        outline-offset: -4px;
      }
    }

    &:nth-of-type(even) {
      a {
        background-color: $white;
      }
    }
  }
}

.hidden {
  @include visually-hidden;
}
