@import "../../sass-utils/globals";

.Search {
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;

  &.focused {
    z-index: 999;
  }

  &__overlay {
    &.focused {
      position: fixed;
      z-index: 998;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background-color: $black;
      opacity: .5;
    }
  }

  &__icon {
    @include fa-svg-fix;

    position: absolute;
    left: 1rem;
    top: 18px;
    color: var(--search-color);
    font-size: $fs-medium;
  }

  &__input {
    font-family: $f-secondary;
    letter-spacing: 1px;
    max-width: none;
    width: 100%;
    font-size: $fs-small;
    padding: 0 1rem 0 3.5rem;
    border: 1px solid var(--search-borderColor);
    background: var(--search-backgroundColor);
    border-radius: $border-radius;
    height: 60px;

    &::-ms-clear {
      display: none;
    }
  }

  &__clear {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background: var(--search-color);

    &::-moz-focus-inner {
      border: 0;
    }

    &.hasQuery {
      display: block;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 4px;
      height: 20px;
      width: 20px;
      border-right: 3px solid var(--search-backgroundColor);
    }

    &::before {
      transform: rotate(45deg);
      top: 4px;
    }

    &::after {
      transform: rotate(-45deg);
      top: 16px;
    }
  }

  &__results {
    display: none;
    position: absolute;
    top: 62px;
    left: -2px;
    right: -2px;
    text-align: left;
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    max-height: 50vh;
    overflow: auto;

    &.hasResults {
      border: 1px solid var(--search-borderColor);
      border-top: none;
    }

    &.isFocused {
      display: block;
    }
  }

  &__result {
    a {
      color: var(--search-results-color);
      border-bottom: none;
      display: block;
      background: var(--search-results-backgroundOdd);
      padding: 1rem;

      &:hover {
        color: var(--search-results-hover-color);
        border-bottom: none;
        text-decoration: underline;
      }

      &:focus {
        outline-offset: -4px;
      }
    }

    &:nth-of-type(even) {
      a {
        background: var(--search-results-backgroundEven);
      }
    }
  }
}

.hidden {
  @include visually-hidden;
}
